.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  height: 282px;
  width: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}

.card__name {
  margin: 0;
  font-family: "Inter", Arial, serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-color: transparent;
  background-image: url(../images/Like.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  width: 21px;
  height: 18px;
  align-self: center;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_liked {
  background-image: url(../images/Active_Like.svg);
}
